
.lists{
  text-align:center;
  margin:auto 0;
}

.lists li{
    text-decoration: none;
}

li{
  list-style-type:none;
}
.details{
  display:flex;
  justify-content: center;
}
.userDetails{
  display:flex;
  flex-direction:column;
  justify-content: center;
}